# Task 2 — PyCaret Regression Pipeline (Used Car Prices)

We use the **cleaned dataset** produced in Task 1 (`02_Used_Car_Prices_Cleaned.xlsx`).  
Cleaning already done:
- Standardized column names and **renamed target** to `Price`
- Extracted numerics from `Mileage`, `Engine`, `Power` (removed units like *kmpl*, *CC*, *bhp*)
- Cast `Seats`, `Year`, `Kilometers_Driven` to numeric
- Normalized `Location` (strip + title case), cast all categoricals
- Added `Brand` from `Brand_Model`
- Median imputation for numeric, mode imputation for categoricals
- Saved as `data/02_Used_Car_Prices_Cleaned.xlsx`

Now, we’ll:
1) Engineer a few helpful features (e.g., **Age**),  
2) Initialize **PyCaret** with strong preprocessing,  
3) Compare, **tune**, and **ensemble** top models via 5-fold CV,  
4) Evaluate on hold-out + unseen,  
5) **Save the full pipeline** for Task 3, and  
6) Ensure **MLflow** logging is enabled (as required).

In [25]:
import warnings; warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime

# PyCaret - regression
from pycaret.regression import *

from pathlib import Path
import json, numpy as np, mlflow
import os, mlflow

## Load cleaned dataset + confirmation

In [2]:
# Load the cleaned file from Task 1
df = pd.read_excel("../data/02_Used_Car_Prices_Cleaned.xlsx")

print("Shape:", df.shape)
display(df.head())

# Quick type check (should already be clean)
df.info()

Shape: (6019, 13)

,Brand_Model,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.60,998,58.16,5,175000.0,Maruti
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5,1250000.0,Hyundai
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20,1199,88.70,5,450000.0,Honda
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7,600000.0,Maruti
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5,1774000.0,Audi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand_Model        6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6019 non-null   float64
 8   Engine             6019 non-null   int64
 9   Power              6019 non-null   float64
 10  Seats              6019 non-null   int64
 11  Price              6019 non-null   float64
 12  Brand              6019 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 611.4+ KB

## Extra feature engineering

In [3]:
# Age of car = current year - Year (floor at 0)
this_year = datetime.now().year
df["Age"] = (this_year - df["Year"]).clip(lower=0)

# Optional: log transform helper column for km (kept as numeric feature)
df["Log_Km"] = np.log1p(df["Kilometers_Driven"])

# (Optional) target sanity check
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")
df = df.dropna(subset=["Price"]).reset_index(drop=True)

df[["Price","Year","Age","Kilometers_Driven","Log_Km","Mileage","Engine","Power","Seats"]].describe()

,Price,Year,Age,Kilometers_Driven,Log_Km,Mileage,Engine,Power,Seats
count,6.019000e+03,6019.000000,6019.000000,6.019000e+03,6019.000000,6019.000000,6019.000000,6019.000000,6019.000000
mean,9.479468e+05,2013.358199,11.641801,5.873838e+04,10.758812,18.134966,1620.509221,112.883539,5.276790
std,1.118792e+06,3.269742,3.269742,9.126884e+04,0.715736,4.581528,599.635458,53.283701,0.806346
min,4.400000e+04,1998.000000,6.000000,1.710000e+02,5.147494,0.000000,72.000000,34.200000,0.000000
25%,3.500000e+05,2011.000000,9.000000,3.400000e+04,10.434145,15.170000,1198.000000,78.000000,5.000000
50%,5.640000e+05,2014.000000,11.000000,5.300000e+04,10.878066,18.150000,1493.000000,97.700000,5.000000
75%,9.950000e+05,2016.000000,14.000000,7.300000e+04,11.198228,21.100000,1969.000000,138.030000,5.000000
max,1.600000e+07,2019.000000,27.000000,6.500000e+06,15.687313,33.540000,5998.000000,560.000000,10.000000

# MLflow
- Data: `../data/02_Used_Car_Prices_Cleaned.xlsx` (from Task 1)
- We’ll engineer `Age` & `Log_Km`, build a PyCaret regression pipeline,
  compare/tune/ensemble models, and log artifacts/metrics to MLflow **manually**
  (works with MLflow 3.x).
- Experiment name: **usedcar_prices**

In [26]:
# Reproducibility
np.random.seed(42)

## MLflow tracking (local folder)

In [16]:
# Use a project-local mlruns folder
project_root = Path.cwd().resolve()
tracking_dir = (project_root / "../mlruns").resolve()
tracking_dir.mkdir(parents=True, exist_ok=True)

mlflow_uri = tracking_dir.as_uri()     # file:///C:/.../mlruns (Windows-safe)
os.environ["MLFLOW_TRACKING_URI"] = mlflow_uri
mlflow.set_tracking_uri(mlflow_uri)

EXP_NAME = "usedcar_prices"
if mlflow.get_experiment_by_name(EXP_NAME) is None:
    mlflow.create_experiment(EXP_NAME)
mlflow.set_experiment(EXP_NAME)

print("Tracking URI:", mlflow.get_tracking_uri())
print("Experiment:", EXP_NAME)

Tracking URI: file:///C:/Users/keaga_0idqj9o/OneDrive/Desktop/School/Y3T2/MLOps/Assignment/usedcar_project/mlruns
Experiment: usedcar_prices

## Pycaret setup (no internal MLflow)

In [18]:
numeric_features = [
    "Year","Age","Kilometers_Driven","Log_Km",
    "Mileage","Engine","Power","Seats"
]
categorical_features = [
    "Fuel_Type","Transmission","Owner_Type",
    "Location","Brand_Model","Brand"
]

reg_exp = setup(
    data=df,
    target="Price",
    session_id=42,
    train_size=0.8,
    fold=10,
    fold_shuffle=True,

    # 1) Robust preprocessing for skew/outliers
    normalize=True,
    normalize_method="robust",
    transformation=True,                 # transform X (not y)
    transformation_method="quantile",

    # 2) Outliers & multicollinearity
    remove_outliers=True,
    outliers_method="iforest",
    outliers_threshold=0.02,             # top/bottom ~2%
    remove_multicollinearity=True,
    multicollinearity_threshold=0.90,

    # 3) Feature selection (model-based)
    feature_selection=True,
    feature_selection_method="classic",
    feature_selection_estimator="lightgbm",
    n_features_to_select=0.6,            # keep ~60% best features

    # 4) Encoding controls
    max_encoding_ohe=50,                 # cap OHE width
    rare_to_value=0.01,                  # merge levels <1% freq
    rare_value="Other",

    # 5) Helpful binning for non-linearities
    bin_numeric_features=["Age", "Kilometers_Driven"],

    # 6) Imputation (explicit)
    numeric_imputation="median",
    categorical_imputation="mode",

    # 7) Lock schema
    numeric_features=numeric_features,
    categorical_features=categorical_features,

    # We log to MLflow manually (avoid PyCaret↔MLflow conflict)
    log_experiment=False,
    verbose=True,
)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000154 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 950
[LightGBM] [Info] Number of data points in the train set: 4718, number of used features: 42
[LightGBM] [Info] Start training from score 940764.518864

- Uses robust scaling + quantile transforms on features (good for skewed Price drivers).
- IForest outlier removal at 2% to trim only the worst tails.
- Multicollinearity cut at 0.90 (safer than 0.95 for Engine/Power/Log_Km).
- Model-based feature selection with LightGBM; caps features at 60%.
- Binning Age and Kilometers_Driven adds stepwise effects that tree models exploit.
- Rare category merging prevents exploding dummies for huge Brand_Model/Location.

## Compare Models

In [19]:
top_models = compare_models(n_select=5, sort="R2")
leaderboard_compare = pull()
leaderboard_compare

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
catboost,CatBoost Regressor,153922.0448,1.296022e+11,3.438691e+05,0.9022,0.2542,0.1967,0.758
xgboost,Extreme Gradient Boosting,156893.4031,1.407511e+11,3.600504e+05,0.8932,0.2608,0.1999,0.249
lightgbm,Light Gradient Boosting Machine,162653.6012,1.394490e+11,3.605478e+05,0.8932,0.2720,0.2034,0.271
et,Extra Trees Regressor,161997.1870,1.446674e+11,3.645412e+05,0.8905,0.2555,0.2042,0.275
rf,Random Forest Regressor,160659.3745,1.449073e+11,3.666505e+05,0.8896,0.2532,0.2004,0.318
gbr,Gradient Boosting Regressor,185636.2605,1.513807e+11,3.794676e+05,0.8826,0.2894,0.2391,0.252
knn,K Neighbors Regressor,204706.1422,2.114358e+11,4.493643e+05,0.8371,0.2962,0.2442,0.205
dt,Decision Tree Regressor,202847.2071,2.522395e+11,4.920849e+05,0.7991,0.3223,0.2526,0.197
ada,AdaBoost Regressor,546613.0085,4.610772e+11,6.698909e+05,0.6313,0.8779,1.3784,0.234
ridge,Ridge Regression,428383.2267,4.872543e+11,6.928514e+05,0.6151,0.8139,0.8209,0.199
lasso,Lasso Regression,428395.9972,4.872520e+11,6.928511e+05,0.6151,0.8169,0.8210,0.394
lar,Least Angle Regression,428396.4125,4.872518e+11,6.928510e+05,0.6151,0.8169,0.8210,0.201
llar,Lasso Least Angle Regression,428396.0006,4.872520e+11,6.928511e+05,0.6151,0.8168,0.8210,0.197
br,Bayesian Ridge,428335.5072,4.872655e+11,6.928546e+05,0.6151,0.8146,0.8206,0.189
lr,Linear Regression,428396.4125,4.872518e+11,6.928510e+05,0.6151,0.8169,0.8210,0.615
en,Elastic Net,426445.1613,5.728037e+11,7.507175e+05,0.5491,0.6721,0.6948,0.196
huber,Huber Regressor,379810.6148,5.948414e+11,7.646382e+05,0.5325,0.6133,0.5190,0.197
par,Passive Aggressive Regressor,381921.2464,6.420234e+11,7.948668e+05,0.4947,0.6119,0.4876,0.233
omp,Orthogonal Matching Pursuit,626484.2286,1.002962e+12,9.890333e+05,0.2105,0.9196,1.2156,0.187
dummy,Dummy Regressor,711703.6375,1.257461e+12,1.116852e+06,-0.0026,0.9659,1.3780,0.194

### Model Comparison Insights

From the model leaderboard, we can draw several key observations:

1. **Top Performing Models**  
   - **CatBoost Regressor** achieved the **best performance** with  
     - **R² = 0.90** (explains ~90% of the variance in car prices)  
     - **MAE ≈ 154k INR**, meaning on average the model’s predictions are within ±1.5 lakhs of the actual selling price.  
   - **XGBoost** and **LightGBM** follow closely with R² around **0.89**, also providing strong generalization.  
   - These gradient-boosting tree ensembles are well-suited for tabular data with mixed numeric and categorical features.

2. **Strong Baseline Models**  
   - **Extra Trees** and **Random Forest** also perform competitively (R² ≈ 0.89), showing that tree ensembles in general capture the key price-driving patterns.  
   - **Gradient Boosting Regressor (sklearn)** lags slightly (R² ≈ 0.88), but still provides a good baseline.

3. **Weaker / Linear Models**  
   - Linear-based models (Ridge, Lasso, Elastic Net, Bayesian Ridge, Linear Regression) plateau around **R² = 0.61**, confirming that **used car pricing is highly non-linear** and cannot be captured well with simple linear assumptions.  
   - These models also show much higher MAE (> 400k INR), making them less reliable.

4. **Poor Performers**  
   - **AdaBoost, Huber, Passive Aggressive, OMP** and the **Dummy baseline** all perform significantly worse, with R² < 0.65. These models are unsuitable for the task.

5. **Interpretation**  
   - The best models (CatBoost, XGBoost, LightGBM) are tree-based ensemble learners that:  
     - Handle complex interactions between features (e.g., brand × engine power × location).  
     - Are robust to outliers and non-linear relationships.  
     - Natively support categorical variables (especially CatBoost).  

---
**Conclusion**: CatBoost is the current champion and will likely be selected as the final model. However, XGBoost and LightGBM remain strong contenders and should be considered for blending or stacking in the final pipeline.

## Tuning the top models

In [20]:
tuned_models = [tune_model(m, optimize="R2") for m in top_models]
leaderboard_tune = pull()
leaderboard_tune

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

              MAE           MSE         RMSE      R2   RMSLE    MAPE
Fold
0     156700.2396  1.027785e+11  320590.8468  0.9108  0.2596  0.2066
1     175837.4062  2.970759e+11  545046.7385  0.7983  0.2370  0.1789
2     195648.4271  1.784601e+11  422445.3689  0.8714  0.2585  0.2134
3     160295.1841  9.503731e+10  308281.2128  0.8936  0.2555  0.2076
4     152476.1454  9.139955e+10  302323.5844  0.9336  0.2430  0.1971
5     161236.2069  1.054825e+11  324780.6252  0.9016  0.2614  0.2006
6     179271.0559  3.504346e+11  591975.2032  0.7899  0.2744  0.2228
7     176696.5709  1.330441e+11  364752.1536  0.8956  0.2704  0.2203
8     143317.7217  6.277072e+10  250540.8637  0.9355  0.2616  0.2108
9     176224.8215  1.063505e+11  326114.1743  0.9166  0.2840  0.2358
Mean  167770.3779  1.522834e+11  375685.0771  0.8847  0.2605  0.2094
Std    14760.2524  9.112165e+10  105565.6290  0.0488  0.0132  0.0148

## Blend & Stack Models

In [21]:
blended = blend_models(estimator_list=tuned_models, optimize="R2")
meta = create_model("lightgbm")
stacked = stack_models(estimator_list=tuned_models, meta_model=meta, optimize="R2")

## Hold-out Evaluation Table

In [22]:
candidates = tuned_models + [blended, stacked]
rows = []
for m in candidates:
    _ = predict_model(m)
    metrics = pull().iloc[-1].to_dict()
    rows.append({"model": str(m), **metrics})

holdout_df = pd.DataFrame(rows).sort_values("R2", ascending=False)
holdout_df

,model,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE
6,"StackingRegressor(cv=5,\n est...",Stacking Regressor,164227.62580,1.367349e+11,369776.76340,0.8889,0.2686,0.2215
2,"LGBMRegressor(n_jobs=-1, random_state=42)",Light Gradient Boosting Machine,169493.21040,1.589449e+11,398678.90530,0.8708,0.2903,0.2453
0,<catboost.core.CatBoostRegressor object at 0x0...,CatBoost Regressor,162293.90370,1.660332e+11,407471.67680,0.8651,0.2844,0.2371
5,VotingRegressor(estimators=[('CatBoost Regress...,Voting Regressor,160698.88580,1.680969e+11,409996.19350,0.8634,0.2701,0.2323
1,"XGBRegressor(base_score=None, booster='gbtree'...",Extreme Gradient Boosting,172713.71875,1.725960e+11,415446.78125,0.8597,0.2908,0.2504
4,"RandomForestRegressor(n_jobs=-1, random_state=42)",Random Forest Regressor,171501.19510,2.031851e+11,450760.62070,0.8349,0.2869,0.2453
3,"ExtraTreesRegressor(n_jobs=-1, random_state=42)",Extra Trees Regressor,173159.55430,2.110375e+11,459388.22450,0.8285,0.2834,0.2412

## Finalize, Save, and Log the Champion Model
- Champion: **Stacking Regressor** (highest R² on hold-out).
- Action:
  1) `finalize_model()` to fit on all available data inside the PyCaret session.
  2) Save the full pipeline to `../models/usedcar_price_model.pkl`.
  3) Log artifacts and metrics to MLflow (same experiment).

In [29]:
# --- pick the tuned CatBoost from your tuned_models list ---
cat_list = [m for m in tuned_models if "CatBoost" in str(m)]
if cat_list:
    best_cat = cat_list[0]
else:
    best_cat = tune_model(create_model("catboost"), optimize="R2")

# Finalize on full data (train on all rows within the PyCaret session)
final_champion = finalize_model(best_cat)

# ---- Pull metrics WITHOUT calling predict_model (avoid CatBoost name-order issue) ----
# Prefer metrics from your holdout table
import numpy as np, json, mlflow
from pathlib import Path

if 'holdout_df' in globals():
    row = (holdout_df[holdout_df['Model'].str.contains('CatBoost', na=False)]
           .head(1))
    if not row.empty:
        best_metrics = row.iloc[0][['MAE','MSE','RMSE','R2','RMSLE','MAPE']].to_dict()
    else:
        best_metrics = {}   # fallback: no metrics available
else:
    best_metrics = {}

# ---- Save model pipeline ----
models_dir = Path("../models"); models_dir.mkdir(parents=True, exist_ok=True)
save_path = models_dir / "usedcar_price_model"
save_model(final_champion, str(save_path))   # -> ../models/usedcar_price_model.pkl

# ---- Log to MLflow ----
with mlflow.start_run(run_name="champion_finalize_catboost"):
    # Log metrics if we have them
    for k, v in best_metrics.items():
        try:
            if isinstance(v, (int, float, np.floating)):
                mlflow.log_metric(k, float(v))
        except Exception:
            pass

    # Optional leaderboards if present
    for p in [models_dir / "compare_leaderboard.csv",
              models_dir / "tune_leaderboard.csv",
              models_dir / "holdout_results.csv"]:
        try:
            mlflow.log_artifact(str(p), artifact_path="tables")
        except Exception:
            pass

    # Log the model + input schema
    mlflow.log_artifact(f"{save_path}.pkl", artifact_path="model")
    schema = {
        "numeric_features": ["Year","Age","Kilometers_Driven","Log_Km","Mileage","Engine","Power","Seats"],
        "categorical_features": ["Fuel_Type","Transmission","Owner_Type","Location","Brand_Model","Brand"],
        "target": "Price"
    }
    schema_path = models_dir / "input_schema.json"
    with open(schema_path, "w") as f:
        json.dump(schema, f, indent=2)
    mlflow.log_artifact(str(schema_path), artifact_path="model")

print("Champion (CatBoost) saved at:", f"{save_path}.pkl")
print("Metrics (from holdout) logged to MLflow under run: champion_finalize_catboost")
print("View with:")
print("   mlflow ui --backend-store-uri .\\mlruns --host 127.0.0.1 --port 5001")
print("   then open http://127.0.0.1:5001")

Transformation Pipeline and Model Successfully Saved
Champion (CatBoost) saved at: ..\models\usedcar_price_model.pkl
Metrics (from holdout) logged to MLflow under run: champion_finalize_catboost
View with:
   mlflow ui --backend-store-uri .\mlruns --host 127.0.0.1 --port 5001
   then open http://127.0.0.1:5001